<div class="color-fondo">
<div class="small-container center-block" style="padding:10%">
  <h2 class="text-center">Crear Cuenta</h2>
      <br>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <p><%= f.label :email, "Correo Electrónico" %></p>
            <p><%= f.email_field :email, autofocus: true, autocomplete: "Correo Electrónico" %></p>
          </div>
          <div class="field">
            <p><%= f.label :password, "Contraseña" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> Caracteres Mínimo)</em>
            <% end %></p>
            <p><%= f.password_field :password, autocomplete: "new-password" %></p>
          </div>

          <div class="field">
            <p><%= f.label :password_confirmation,"Confirmar Contraseña" %><br /></p>
            <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
          </div>
          <br>
          <div class="text-center">
            <%= f.submit "Crear Cuenta", class:"btn btn-primary" %>
          </div>
        <% end %>
      <br>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
  </div>
</div>