<div class="large-container center-block">
<br>
  <h1><%= @article.title%></h1>
  <div>
    <p>Escrito por:<strong> <%= @article.user.email %></strong></p>
  </div>
  <div>
  <%= @article.content%>
  </div>
  <br>
  <div class="margin-top">
  <p class="label"><strong>Tags</strong></p>
  <p><% @article.categories.each do |category| %>
    <span class="badge badge-pill padding" style="background-color:<%= category.color %>; border-radius: 50px">
      <%= link_to category.title, category, class:"text-white" %>
    </span>
  <% end %></p>
  </div>
  <br/>
  <div>
  <%=link_to "Eliminar", @article, method: :delete, class:"btn btn-danger"%>
  <%=link_to "Editar" , edit_article_path, class:"btn btn-warning"%>
  </div>
</div>